# Ignore everything outside of the addons folder when exporting.
/**               export-ignore
/addons           !export-ignore
/addons/**        !export-ignore
/addons/1d/src    export-ignore
/addons/1d/src/** export-ignore
